<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:if condition="{address}">
	<f:then>
		<f:if condition="{doApprove}">
			<f:then>
				<p><f:translate key="form.approve.approvetext" arguments="{0: address.firstName, 1:address.lastName, 2:address.email}" /></p>
			</f:then>
			<f:else>
				<f:form action="approve" arguments="{hash: hash}">
					<f:form.hidden name="doApprove" value="1" />
					<f:form.submit value="{f:translate(key:'form.approve.submitButton')}" class="submit" />
				</f:form>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<p><f:translate key="form.approve.errortext" /></p>
	</f:else>
</f:if>

</f:section>