<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/ViewHelpers"
			data-namespace-typo3-fluid="true"
			lang="en">
<p>
	{f:translate(extensionName:'Registeraddress',key:'mail.info.greet')} {f:translate(extensionName:'Registeraddress',key:'mail.gender.{address.gender}')} {f:if(condition:address.title,then:'{address.title} ')}{address.firstName} {address.lastName}
</p>
<p>
	{f:translate(extensionName:'Registeraddress',key:'mail.info.editLinkText')}
	<f:link.action action="edit" arguments="{hash: hash}" controller="Address" extensionName="Registeraddress" pluginName="Registerform" pageUid="{settings.pagewithform}" absolute="1">[click/klick]</f:link.action>
</p>
<p>
	{f:translate(extensionName:'Registeraddress',key:'mail.info.deleteLinkText')}
	<f:link.action action="delete" arguments="{hash: hash}" controller="Address" extensionName="Registeraddress" pluginName="Registerform" pageUid="{settings.pagewithform}" absolute="1">[click/klick]</f:link.action>
</p>
</html>
