<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:render partial="FormErrors" arguments="{object:Address}"/>

    <div class="newform">
        <h2><f:translate key="form.new.title" /></h2>
        <f:form action="create" name="newAddress" object="{newAddress}" pageUid="{settings.mainformpageuid}" pluginName="Registerform">
        <f:render partial="Address/FormFields" />
        	<f:form.submit value="{f:translate(key:'form.new.submitButton')}" class="submit" />
        </f:form>
    </div>
</f:section>