<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/ViewHelpers"
			data-namespace-typo3-fluid="true"
			lang="en">
<div class="fieldrow">
    <label for="gender">
        <f:translate key="tx_registeraddress_domain_model_address.gender"/>
    </label>
    <f:form.select property="gender"
        options="{
    m: '{f:translate(key: \'tx_registeraddress_domain_model_address.gender.m\')}',
    f: '{f:translate(key: \'tx_registeraddress_domain_model_address.gender.f\')}'
}"
        id="gender"
    />
</div>
<div class="fieldrow">
    <label for="title">
        <f:translate key="tx_registeraddress_domain_model_address.title"/>
    </label>
	<f:form.textfield property="title" id="title" />
</div>
<div class="fieldrow">
    <label for="firstName">
        <f:translate key="tx_registeraddress_domain_model_address.first_name"/>
    </label>
    <f:form.textfield property="firstName"
        id="firstName"
    />
</div>
<div class="fieldrow">
    <label for="lastName">
        <f:translate key="tx_registeraddress_domain_model_address.last_name"/>
    </label>
    <f:form.textfield property="lastName"
        id="lastName"
    />
</div>
<div class="fieldrow">
    <label for="email">
        <f:translate key="tx_registeraddress_domain_model_address.email"/>
    </label>
    <f:form.textfield
				id="email"
				property="email"
				placeholder="{f:translate(key:'tx_registeraddress_domain_model_address.email.placeholder')}"
				required="required"
				type="email"
    />
</div>
<div class="fieldrow">
	<label for="organisation">
		<f:translate key="tx_registeraddress_domain_model_address.organisation"/>
	</label>
	<f:form.textfield property="organisation" id="organisation" />
</div>
<div class="fieldrow">
	<f:translate key="tx_registeraddress_domain_model_address.consent"/>
	<f:format.html>{settings.consent}</f:format.html>
</div>
<f:render partial="AdditionalFields" optional="1" />
</html>
